<!-- http: //pgmgent-1920-students.github.io/case1-pgm-website-baas-pgm-lenndery/ -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>11ty boilerplate</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type='image/png' href="https://lennertderyck.be/assets/images/LOGO_LDR_ZWART.ico"/>
    <!-- <meta name="theme-color" content="#662B32">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="#662B32">
    -->
    
    <!-- seo -->
    <!-- <meta name="robots" content="noindex, nofollow, nosnippet"> -->
    <meta name="description" content="11ty boilerplate">
    <meta name="keywords" content="11ty, eleventy, boilerplate">
    
    <!-- open graph -->
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="pgm.gent"/>
    <meta property="og:title" content="pgm.gent | Graduaat Programmeren Arteveldehogeschool"/>
    <!-- <meta property="og:image" content=""/> -->
    
    <!-- integrations -->
    <script src="https://unpkg.com/feather-icons"></script>
    
    <!-- webfonts -->
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    
    <!-- local assets -->
    <link rel="stylesheet" href="{{ 'sesam/static/css/main.css' | url }}">
    <link rel="stylesheet" href="https://lib.lennertderyck.be/assets/min/flexy-cards.css">
</head>
<body data-page="{{ title }}">
    {% include header width:'300' %}
    <div id="app" class="container">
        <div class="row">
            <div class="col-12 col-lg-3">
                <aside>
                    {% for section in collections.sections %}
                        <a class="small d-block" href="#{{ section.data.title | slug }}">{{ section.data.title }}</a>
                        <small class="d-block text-dimmed">{{ section.data.description }}</small>
                        <hr>
                    {% endfor %}
                </aside>
            </div>
            <main id="content" class="col-12 col-lg-9">
                {{ content }}
            </main>
        </div>
    </div>
    {% include footer width:'300' %}
    
    <!-- scripts -->
    <script type="module" src="{{ 'sesam/static/js/app.js' | url }}"></script>
    
    <script>
        /* Initialize feather icons */
        /* more info on https://feathericons.com/ and https://github.com/feathericons/feather#feather */
        feather.replace()

        /* Enable for bootstrap tooltips 👇 */
        // $('[data-toggle="tooltip"]').tooltip()

        /* Enable for bootstrap toasts 👇 */
        // $('[data-toggle="tooltip"]').tooltip()
    </script>
</body>
</html>

<!-- template from https://github.com/lennertderyck/start-template -->